@charset "UTF-8";



    * {
        margin:0;
    }

    body {
        
        min-width: 342px;
        max-width: 570px;
    }
    .calculadora {
        background-color: rgb(0, 0, 0);
        box-shadow: .5px .5px 5px 1px black;
        padding: 2px;
        width: 369px;
        height: 661px;
    }

    input {
        
        color: white;
        font-size: 20px;
        font-weight: bolder;
        width: 105px;
        height: 77px;
        cursor: pointer;
    }

    .c {
        color: red;
    }

    .verde {
        font-size: px;
        color: green;
    }

    .botigual {
        background-color: green;
        color: black;
    }

    article > input {
        background-color: rgb(75, 72, 72);
        width: 85px;
        height: 89px;
        margin: 2px;
        border-style: none;
        border-radius: 50px;
    }

    article > input:hover {
        background-color: aqua;

        transition-duration: .5s;
    }

    input::after {
        background-color: rgb(132, 138, 138);
    }

    .display {
        background-color: rgba(0, 0, 0, 0.021);
        border-style: solid;
        font-size: 60px;
        margin-bottom: 7px;
        width: 361px;
        height: 180px;
    }
     
    